/*This is a comment at the top of my stylesheet. */
body{
    background-color:violet;
    color: #0000ff;
}
h1{
    color: red
}
h2{
    color: rgb(0, 100, 0)
}
.dog {
    font-size: 2em;
}
.ex {
    height: 40ex;
    width: 2in;
    padding: 5ex 4x 5x 4ex;
    border-color:crimson;
    border-style:dashed;
    border-width:10px;
}

.vw {
    width: 10vw;
    margin: 1in 2in 1in 2in;
    border-color: brown;
    border-style: solid;
    border-width:10px;
}
li {
    display:block;
}
.cm {
    position:relative;
    right:10px;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 2cm;
    margin-right: 2cm;
    width: 2cm;
    height:2cm;
    border-color: purple;
    border-style:dotted;
    border-radius: 10px;
}
*.in {
    width: 2in;
    height: 2in;
    padding-left: 1in;
    padding-right: 1in;
    padding-top: 1in;
    margin: auto;
}
a[form] {
    color: purple;
}

a{
    display:inline;
}
#image{
    color:yellow;
}
a:link {
    color: red;
  }
  
  a:visited {
    color: green;
  }
  
  a:hover {
    color: hotpink;
  }
  
  a:active {
    color: blue;
  }
.txt {
    position:absolute;
    right:0;
    text-align: center;
    text-decoration:dotted;
    color:cyan;
}