/*This is a comment at the top of my stylesheet. */
body{
    background-color:hsl(300, 100, 60);
    color: #0000ff;
}
h1{
    color: red
}
h2{
    color: rgb(0, 100, 0)
}
.dog {
    font-size: 2em;
}
.ex {
    height: 40ex;
    width: 2in;
}
.vw {
    width: 10vw;
}